################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Lucky.ApiService/obj/Debug
/Lucky.GridMvc/obj/Debug
/Lucky.IService/obj/Debug
/Lucky.MvcPager/obj/Debug
/Lucky.Service/obj/Debug
/Lucky.ViewModels/obj/Debug
/Lucky.Web.Framework/obj/Debug
/Lucky.WebSite/obj/Debug
/Lucky.WebSite/SiteManager/obj/Debug
/Lucky.Core/obj/Debug
/Lucky.Entity/obj/Debug
/Lucky.ApiService/bin
/packages
/Lucky.ApiService/Lucky.ApiService.csproj.user
/Lucky.Core/bin/Debug
/Lucky.Core.Test/bin/Debug
/Lucky.Core.Test/obj/Debug
/Lucky.Entity/bin/Debug
/Lucky.IService/bin/Debug
/Lucky.Service/bin/Debug
/Lucky.ViewModels/bin/Debug
/Lucky.Web.Framework/bin/Debug
/Lucky.WebSite/bin
/Lucky.WebSite/SiteManager/bin
/Lucky.GridMvc/bin/Debug
/Lucky.MvcPager/bin/Debug
/Lucky.WebSite/Lucky.WebSite.csproj.user
/Lucky.WebSite/logs/Logs/2016-09-28.txt
