<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="redisCacheClient" type="StackExchange.Redis.Extensions.Core.Configuration.RedisCachingSectionHandler, StackExchange.Redis.Extensions.Core" />
  </configSections>
  <connectionStrings>
    <add name="TestDapper" connectionString="Data Source=.;Initial Catalog=LuckyHr;Persist Security Info=True;User ID=sa;Password=dfs@123#;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--分布式缓存-->
  <enyim.com>
    <memcached>
      <servers>
        <add address="192.168.1.104" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="1024" connectionTimeout="00:10:10" deadTimeout="00:10:10" />
      <transcoder type="Lucky.Hr.Core.Cache.Memcached.JsonTranscoder, Lucky.Hr.Core" />
    </memcached>
  </enyim.com>
  <!--Redis-->
  <redisCacheClient allowAdmin="true" ssl="false" connectTimeout="5000" database="0" password="">
    <hosts>
      <add host="192.168.1.10" cachePort="6379" />
    </hosts>
  </redisCacheClient>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
