@model List<Lucky.Hr.ViewModels.Models.News.NewsArticlesViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row show-grid">
        <div class="col-md-3" style="background-color: royalblue">bootstrap左边</div>
        <div class="col-md-9" style="background-color: lightblue">bootstrap右边</div>
    </div>
    <div class="row show-grid">
        @foreach (var _model in Model)
        {
            <div class="col-md-6" style="background-color: royalblue">@_model.Title</div>
            <div class="col-md-3" style="background-color: lightblue">@_model.CreateDate</div>
            <div class="col-md-3" style="background-color: royalblue">3</div>
        }
    </div>

</div>
<div class=" container-fluid">
    <div class="row show-grid">
        <div class="dl20" style="background-color: royalblue">左边</div>
        <div class="fluid" style=" background-color: lightblue">自适应</div>
    </div>
    <div class="row show-grid">
        <div class="dl20" style="background-color: royalblue">左边</div>
        <div class="fluid" style=" background-color: lightblue">自适应</div>
    </div>
</div>