<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/"/>
    <variable name="TraceLayout" value="-------------------------------${longdate}---------------------------------${newline}${message}${newline}----------------------------------------------------------------------------------------"/>
    <targets async="true">
      <target bufferSize="40960"  name="CLog" xsi:type="File" layout="${TraceLayout}" fileName="${logDirectory}/Logs/${shortdate}.txt"/>
    </targets>
    <rules>
      <logger name="c" minlevel="Debug" writeTo="CLog" />
      <logger name="Lucky.Hr.Core.Data.NLogCommandInterceptor" minlevel="Debug" writeTo="CLog" />
    </rules>
  </nlog>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
